body{
    font-family: Marhey, sans-serif;
 
    }

h1{
        font-size: 36px;
        }
      
h2{  
        font-size: 32px;
        }
      
h3{
        font-size: 25px;
        }
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}

#jmeno {
    
    width: 50%;
    border: 5px solid ivory;
    background-color: #006d77;
    padding: 35px 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;

}

#uvod {
    width: 50%;
    border: 5px solid ivory;
    background-color: #83c5be;
    padding: 35px 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#vzdelani {
    width: 50%;
    border: 5px solid ivory;
    background-color: #edf6f9;
    padding: 35px 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#praxe{
    
    width: 50%;
    border: 5px solid ivory;
    background-color: #ffddd2;
    padding: 10px 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}

img {
    width: 29%;
    object-fit: cover;
    
}

#dovednosti {
    
    width: 50%;
    border: 5px solid ivory;
    background-color: #a99087;
    padding: 10px 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#jine_dovednosti {
    
    width: 50%;
    border: 5px solid ivory;
    background-color: #e29578;
    padding: 10px 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#pobyty{
    
    width: 50%;
    border: 5px solid ivory;
    background-color: #b56e55;
    padding: 10px 20%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
